#!/bin/bash
set -o pipefail
set -eu
cd {{ code_folder }}
if [ -f {{ repos_fullpath }} ]; then
    mv {{ repos_fullpath }} {{ repos_fullpath }}.old
fi
python list-repos.py
python compare-permissions.py
python run-backup.py
