pyyaml>=4.2b1 # to avoid https://nvd.nist.gov/vuln/detail/CVE-2017-18342
github-backup>=0.8.0
pygithub==1.26.0 # because https://github.com/PyGithub/PyGithub/pull/1031 breaks our test work and other related problems
Jinja2

# tests
pytest
pytest-watch
prospector

# Useful for recompiling this
pip-tools>=1.6

# Python 2.x lockdowns to avoid dependabot upgrades to Python 3.x
astroid < 2 # As needed by pylint et al